//GENERAL STYLES

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*HEADER*/

.header {
    background: #fff;
    padding: 20px;
}

.header .logo {
    color: #0091ff;
    font-size: 38px;
    font-family: 'Acme', sans-serif;
}

/*SEARCH*/

.search {
    background:#0091ff;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search select {
    margin-left: 10px;
}

/*ICONS*/

.icons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
    background: #ddd;
    align-content: flex-start;
}

.icons .icon {
    width: calc(100%/6 - 20px);
    background: #fff;
    padding: 50px;
    margin: 20px 10px;
    text-align: center;
    border-radius: 10px;
}

.icon i {
    font-size: 40px;
    margin-bottom: 10px;
}

.icon .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}